<!---FOOTER START-->
<footer>
  <div class="footer">
    <div class="container">
      <div class="footer-main">
        <div class="row">
          <div class="col-sm-4">
            <div class="footer-content">
              <h3>Main links</h3>
              <ul class="footer-link">
                <li><a href="#">Add Business</a></li>
                <li><a href="#">Shop</a></li>
                <li><a href="#">Blog</a></li>
                <li><a href="#">Event</a></li>
                <li><a href="#">Contact</a></li>
              </ul>
            </div>
          </div>
          <div class="col-sm-4">
            <div class="footer-content">
              <h3>Other links</h3>
              <ul class="footer-link">
                <li><a href="#">home</a></li>
                <li><a href="#">Faqs</a></li>
                <li><a href="#">privacy policy</a></li>
                <li><a href="#">affiliates disclousre</a></li>
              </ul>
            </div>
          </div>
          <div class="col-sm-4">
            <div class="footer-content">
              <h3>connect with us</h3>
              <p>If you have any suggestions or comments on this web site.</p>
              <div class="footer-contact">
                <a href="mailto:claytonparonto_1@msn.com"><span class="lnr lnr-phone-handset"></span>claytonparonto_1@msn.com</a>
              </div>
              <div class="footer-link">
                <ul>
                  <li><a href="#"></a></li>
                </ul>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
  <div class="copyright-footer">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <p>Copyright <span>&copy;</span> 2018 <a href="#"> MOUNT ASCUTNEY CHAMBER</a> All Rights
            Reserved</p>
        </div>
        <div class="col-md-6">
          <p class="text-right">Developed By <a href="www.fuiworld.com">FUI World</a></p>
        </div>
      </div>
    </div>
  </div>
</footer>
<!---FOOTER END-->

<app-login></app-login>
<app-register></app-register>
