<!---FOOTER START-->
<footer>
  <div class="footer">
    <div class="container">
      <div class="footer-main">
        <div class="row">
          <div class="col-sm-4 ">
            <div class="footer-content">
              <h3>links</h3>
              <ul class="footer-link">
                <li><a href="#">home</a></li>
                <li><a href="#">copyright</a></li>
                <li><a href="#">privacy policy</a></li>
                <li><a href="#">affiliates disclousre</a></li>
              </ul>
            </div>
          </div>
          <div class="col-sm-4 ">
            <div class="footer-content">
              <h3>be in touch</h3>
              <div class="newsletter">
                <form>
                  <input type="text" name="" placeholder="Newsletter">
                  <button type="submit" class="customBtn">subscribe</button>
                </form>
              </div>
            </div>
          </div>
          <div class="col-sm-4 ">
            <div class="footer-content">
              <h3>connect with us</h3>
              <p>If you have any suggestions or comments on this web site or the book, or if you need help in
                converting to Islam.</p>
              <div class="footer-contact">
                <a href="#"><span class="lnr lnr-phone-handset"></span>info@islam-guide.com</a>
              </div>
              <div class="footer-link">
                <ul>
                  <li><a href="#"></a></li>
                </ul>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</footer>
<!---FOOTER END-->