<!--================Banner==================-->
<!--================Banner==================-->
<div class="bannerSection">
  <div class="overlayBlue">
    <div class="container">
      <div class="bannerContent">
        <div class="btnCnt">
          <h1>The Greater Mount Ascutney</h1>
          <h2>Chamber of Commerce</h2>
          <p>Join the Greater Mount Ascutney Chamber. List your company or organization in our Directory. Learn
            about
            the companies and organizations that make up our communities. Buy from local Suppliers.</p>
          <div class="bannerBtn"><a href="" class="customBtn whiteBtn">Read More</a></div>
        </div>
      </div>
    </div>
  </div>
</div>
<!--================Banner==================-->
<!--================Banner==================-->


<!--================Categories==================-->
<!--================Categories==================-->
<section class="regionalSection">
  <div class="container">
    <h2>Be part of our new
      Regional Chamber of Commerce representing the following communities:</h2>
    <ul>
      <li>Ascutney</li>
      <li>Brownsville</li>
      <li>Cornish</li>
      <li>Hartland</li>
      <li>Plainfield</li>
      <li>Reading</li>
      <li>Weatherfield</li>
      <li>West Windsor and Windsor</li>
    </ul>
  </div>
</section>
<!--================Categories==================-->
<!--================Categories==================-->


<!--================ShopLocalStore==================-->
<!--================ShopLocalStore==================-->
<div class="shopLocalStore">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <div class="shopLocalContent">
          <h1><span class="colorGreen">Shop local stores</span> online and pickup at their location.</h1>
          <p>Order Farmers Market by Wednesday to pick up at Saturday’s Downtown Market 11 AM to 2 PM</p>
          <div class="bannerBtn"><a href="" class="customBtn">Shop</a></div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="shopLocalImg">
          <img src="../../../assets/img/order.png" alt="" class="img-responsive" />
        </div>
      </div>
    </div>
  </div>
</div>
<!--================ShopLocalStore==================-->
<!--================ShopLocalStore==================-->

<!--================companyOrganization==================-->
<!--================companyOrganization==================-->
<div class="companyOrganization">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-6">
        <div class="companyOrgContent text-center">
          <div class="companyForm">
            <h1><span class="colorGreen">List your company</span> or organization and join our virtual Main Street.</h1>
            <div class="windStore">mountascutneychamber.com</div>
            <div class="searchProduct">
              <p>Search for local company’s services and products</p>
              <form>
                <input type="text" name="" placeholder="Search..." />
                <button type="submit" class="customBtn">Search</button>
              </form>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="companyOrgImg"></div>
      </div>
    </div>
  </div>
</div>
<!--================companyOrganization==================-->
<!--================companyOrganization==================-->


<!--================whereToEat==================-->
<!--================whereToEat==================-->
<div class="busDirectory ">
  <div class="container">
    <div class="busDinner">
      <div class="row">
        <div class="col-md-4">
          <div class="bsBox">
            <span class="lnr lnr-store"></span>
            <h4>Where to eat</h4>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Est praesentium eos sit, debitis aliquam
              explicabo iusto doloribus quas velit ipsa porro assumenda, natus quasi eius. Dignissimos harum
              voluptatem at quis.</p>
            <a href="" class="customBtn">Read more</a>
          </div>
        </div>
        <div class="col-md-4">
          <div class="bsBox">
            <span class="lnr lnr-store"></span>
            <h4>Where to eat</h4>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Est praesentium eos sit, debitis aliquam
              explicabo iusto doloribus quas velit ipsa porro assumenda, natus quasi eius. Dignissimos harum
              voluptatem at quis.</p>
            <a href="" class="customBtn">Read more</a>
          </div>
        </div>
        <div class="col-md-4">
          <div class="bsBox">
            <span class="lnr lnr-store"></span>
            <h4>Where to eat</h4>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Est praesentium eos sit, debitis aliquam
              explicabo iusto doloribus quas velit ipsa porro assumenda, natus quasi eius. Dignissimos harum
              voluptatem at quis.</p>
            <a href="" class="customBtn">Read more</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!--================whereToEat==================-->
<!--================whereToEat==================-->



<!--================newsLetter==================-->
<!--================newsLetter==================-->
<div class="newsL ">
  <div class="container">
    <div class="busDinner">
      <div class="row">
        <div class="col-md-4 col-md-offset-8 col-sm-4 col-sm-offset-8">
          <div class="nsBox">
            <div class="newsletter">
              <h3>Be In Touch</h3>
              <p>Please contact us if you would like to join our online collaborative and or vend at our market.</p>
              <form>
                <input type="text" name="" placeholder="Email Address">
                <button type="submit" class="customBtn">subscribe</button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!--================newsLetter==================-->
<!--================newsLetter==================-->
