<!--===============LOGIN MODEL ==================-->
<!-- Modal -->
<div id="loginmodel" class="modal fade loginsignincmb" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Login</h4>
      </div>
      <div class="modal-body">
        <div class="mainform-login">
          <div class="logsign-goimg">
            <a href=""><img src="../../../../assets/img/Fimage.png" alt=""></a>
            <a href=""><img src="../../../../assets/img/gimage.png" alt=""></a>
          </div>
          <div class="or-line"><span>OR</span></div>
          <div class="row">
            <div class="col-md-12 col-sm-12 col-12">
              <div class="form-group">
                <input type="email" name="fname" placeholder="Username" class="form-control" required="">
                <span class="lnr lnr-user"></span>
              </div>
            </div>
            <!-- ==========COL TWEL END===== -->
            <div class="col-md-12 col-sm-12 col-12">
              <div class="form-group">
                <input type="password" class="form-control" required="" placeholder="Password">
                <span class="lnr lnr-lock"></span>
              </div>
            </div>
            <!-- ==========COL TWEL END===== -->
            <div class="col-md-6 col-sm-6 col-6">
              <div class="form-group remBox">
                <label><input type="checkbox" name=""> Remember me</label>
              </div>
            </div>
            <div class="col-md-6 col-sm-6 col-6 text-right">
              <div class="form-group forGBox">
                <a href="" class="forgotPs"> Forgot password</a>
              </div>
            </div>

            <div class="col-md-12 col-sm-12 col-12 taC">
              <button type="submit" class="customBtn">LogIn <span class="ti-angle-double-right SbIcn"></span></button>
            </div>
            <!-- ==========COL TWEL END===== -->
          </div>
          <!-- ==========Row END===== -->
        </div>
      </div>
    </div>

  </div>
</div>
<!--===============LOGIN MODEL ==================-->
