<!--================Banner==================-->
<!--================Banner==================-->
<div class="bannerSection">
  <div class="overlayBlue">
    <div class="container">
      <div class="bannerContent">
        <h1>The Greater Mount Ascutney</h1>
        <h2>Chamber of Commerce</h2>
        <p>Join the Greater Mount Ascutney Chamber. List your company or organization in our Directory. Learn about
          the companies and organizations that make up our communities. Buy from local Suppliers. Be part of our new
          Regional Chamber of Commerce representing the following communities: Ascutney, Brownsville, Cornish,
          Hartland, Plainfield, Reading, Weatherfield, West Windsor and Windsor</p>
        <div class="bannerBtn"><a href="" class="customBtn whiteBtn">Read More</a></div>
      </div>
    </div>
  </div>
</div>
<!--================Banner==================-->
<!--================Banner==================-->



<!--================ShopLocalStore==================-->
<!--================ShopLocalStore==================-->
<div class="shopLocalStore">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <div class="shopLocalImg">
          <img src="https://m.media-amazon.com/images/S/campus-launch-assets/ulp/US/en_US/prime_upsell/prime-upsell-desktop.png"
            alt="" class="img-responsive" />
        </div>
      </div>
      <div class="col-md-6">
        <div class="shopLocalContent">
          <h1><span class="colorGreen">Shop local stores</span> online and pickup at their location.</h1>
          <p>Order Farmers Market by Wednesday to pick up at Saturday’s Downtown Market 11 AM to 2 PM</p>
          <div class="bannerBtn"><a href="" class="customBtn">Shop</a></div>
        </div>
      </div>
    </div>
  </div>
</div>
<!--================ShopLocalStore==================-->
<!--================ShopLocalStore==================-->


<!--================companyOrganization==================-->
<!--================companyOrganization==================-->
<div class="companyOrganization">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-6">
        <div class="companyOrgContent text-center">
          <div class="companyForm">
            <h1><span class="colorGreen">List your company</span> or organization and join our virtual Main Street.</h1>
            <div class="windStore">mountascutneychamber.com</div>
            <div class="searchProduct">
              <p>Search for local company’s services and products</p>
              <form>
                <input type="text" name="" placeholder="Search..." />
                <button type="submit" class="customBtn">Search</button>
              </form>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="companyOrgImg"></div>
      </div>
    </div>
  </div>
</div>
<!--================companyOrganization==================-->
<!--================companyOrganization==================-->



<!--================discoverWindstore==================-->
<!--================discoverWindstore==================-->
<div class="discoverWindstore">
  <div class="container">
    <h1><span class="colorGreen">Discover</span> Windsor</h1>
    <div class="discoverWindPic">
      <div class="owl-carousel owl-theme" id="discoverWindstores">
        <div class="item">
          <div class="discoverWindBox">
            <a href=""><img src="assets/images/discover1.jpg" alt="" /></a>
          </div>
        </div>
        <div class="item">
          <div class="discoverWindBox">
            <a href=""><img src="assets/images/discover2.jpg" alt="" /></a>
          </div>
        </div>
        <div class="item">
          <div class="discoverWindBox">
            <a href=""><img src="assets/images/discover3.jpg" alt="" /></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!--================discoverWindstore==================-->
<!--================discoverWindstore==================-->