<!--================Header==================-->
<!--================Header==================-->

<header>
  <!-----Header-Top------>
  <div class="headerTop">
    <div class="container">
      <div class="row">
        <div class="col-md-8 col-sm-8 col-xs-8">
          <ul class="list-inline topAddress">
            <li><span class="lnr lnr-map-marker"></span> 3 Main Street Windsor VT 05089</li>
            <li><span class="lnr lnr-phone-handset"></span> 802-674-5761</li>
            <li><span class="lnr lnr-envelope"></span> claytonparonto_1@msn.com</li>
          </ul>
        </div>
        <div class="col-md-4 col-sm-4 col-xs-4">
          <ul class="list-inline topAddress text-right">
            <li><a data-toggle="modal" data-target="#loginmodel">
                <span class="lnr lnr-user"></span>
                Login</a>
            </li>
            <li><a data-toggle="modal" data-target="#registermodel">
                <span class="lnr lnr-users"></span>
                Register</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <!-----Header-Top------>

  <!-----Header-Menu------>
  <div class="headerMenu">
    <div class="container">
      <div class="row">
        <div class="col-md-3">
          <div class="logoWind">
            <a routerLink="/home" class="text-uppercase">Mount Ascutney Chamber</a>
          </div>
        </div>
        <div class="col-md-9">
          <div class="mobile-toggles">
            <span class="one"></span>
            <span class="two"></span>
            <span class="three"></span>
          </div>
          <div class="mainMenu text-right">
            <ul class="list-inline mainNav">
              <li *ngFor="let link of links">
                <a [routerLink]="[link.page]" routerLinkActive="active">{{link.name}}</a>
              </li>
            </ul>
            <ul class="list-inline cartIcon">
              <li><a><span class="lnr lnr-magnifier"></span></a>
                <div class="overlay-src">
                  <input type="text" placeholder="Seach here...">
                  <button type="submit">
                    <span class="lnr lnr-magnifier"></span>
                  </button>
                </div>
              </li>
              <li><a href=""><span class="lnr lnr-cart"></span> <i>2</i></a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="overlay"></div>
  </div>
  <!-----Header-Menu------>
</header>


<!--================Header==================-->
<!--================Header==================-->
